<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name='description' , content="PWA/'s
    are the future of applications. When ibeer dropped on the app store it became the most downloaded app on the store and was a sign that
    applications were the future of technology. 10 years have past since that was true and lots has changed
    in society. People no longer download new apps as the majority of what people want to do has been
    put in two 4-5 apps on there home screen. While app store apps installs have been dropping websites
    have been still growing. I don’t want ibeer to be lost to time so we have bought it into the world
    of 2018. This PWA can be installed onto your home screen and used offline,  " />
    <meta name='keywords' , content="PWA, Progressive Web Apps, ibeer, perfect liquid simulation, 
    tilt to drink, Drink beer on your phone" />
    <title>I want beer now - PWA info</title>
    <meta name="google-site-verification" content="kVViMvfdpsMj0Vsh3L9heXE_G0FngrhFBRVUtxtwDc8" />
    <meta name="theme-color" content="#ffcc00">
    <link rel="icon" sizes="192x192" href="/images/icons/android-icon-192x192.png">
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
    <link rel="canonical" href="https://iwantbeer.now.sh/">
    <link rel="stylesheet" href="desktop/main.css">
    <noscript>
        <link rel="stylesheet" href="desktop/noscript.css" />
    </noscript>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="is-preload">
    <!-- BG -->
    <div id='particles-js'>
    </div>

    <!-- Wrapper -->
    <div id="wrapper">
        <div id='#hover '>
            <!-- Header -->
            <div id="header">
                <div class="logo">
                    <img src="images/icons/android-icon-72x72.png" width="39" style="padding-top: 20px" alt="drink drank">
                </div>
                <div class="content">
                    <div class="inner">
                        <h1>I want beer now
                            <sup>.sh</sup>
                        </h1>

                        <p>
                            This site is designed to be used on mobile.
                        </p>
                        <a href="https://github.com/samueljim/beer-pwa">GitHub source</a>
                        </p>
                    </div>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="#About">About</a>
                        </li>
                        <li>
                            <a href="#video">Video</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Main -->
            <div id="main">

                <!-- Intro -->
                <article id="About">
                    <h2 class="major">About</h2>
                    <p>If you view this page on mobile you will be shown an example of the greatest app ever made, brought to
                        the standards of 2018</p>
                    <p>iwantbeer.now.sh is a tribute of
                        <a href='https://www.hottrix.com/
        '>ibeer by hottrix</a>, one of the greatest apps ever made. Even to this day people will drop the $0.99
                        to download it.</p>
                    <p> When ibeer dropped on the app store it became the most downloaded app on the store and was a sign that
                        applications were the future of technology. 10 years have past since that was true and lots has changed
                        in society. People no longer download new apps as the majority of what people want to do has been
                        put in two 4-5 apps on there home screen. While app store apps installs have been dropping websites
                        have been still growing. I don’t want ibeer to be lost to time so we have bought it into the world
                        of 2018. This PWA can be installed onto your home screen and used offline, what’s not to love PWA's
                        are the future of applications.</p>
                    <span class="image main">
                        <img src="desktop/us.jpg" alt="logo" />
                    </span>
                </article>

                <!-- Contact -->
                <article id="video">
                    <h2 class="major">Video</h2>

                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/_cyLY3C0IS8" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
                </article>
            </div>
        </div>
    </div>
</body>
<!-- Scripts-->
<script src="jquery-3.3.1.min.js"></script>
<script src="desktop/particles.min.js"></script>
<script src="desktop/beer.js"></script>
<script src="desktop/browser.min.js"></script>
<script src="desktop/breakpoints.min.js"></script>
<script src="desktop/util.js"></script>
<script src="desktop/main.js"></script>