<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Drink Drank</title>
    <meta name="theme-color" content="#ffcc00">
    <link rel="icon" sizes="192x192" href="/images/icons/android-icon-192x192.png">
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
    <link rel='manifest' href='/manifest.json' />
    <link rel="canonical" href="https://iwantbeer.now.sh/" />
    <link rel="preload" as="style" type="text/css" href="normalize.css" />
    <script rel="preload" src="jquery-3.3.1.min.js" as="script"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div id='beer'>
        
        <div id="particles-js">
        </div>
        <div id='hover'>
            <h1 class='message'>You don't have a gyro, please use a mobile device </h1>
            <h1 class='beta'></h1>
            <h1 class='gamma'></h1>
            <h1 class='deg'></h1>
            <h1 class='x'></h1>
            <h1 class='y'></h1>
            <h1 class='z'></h1>
        </div>
    </div>

    <!-- <div id='object'></div> -->
    </div>
</body>
<!-- import gyronorm.js -->
<script src="gyronorm.complete.js "></script>
<script src="main.js"></script>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="beer.js"></script>

<!-- <script src="aframe.min.js"></script>
<script src="aframe-ar.js"></script> -->
<!-- <script src="camera.js "></script> -->
<!-- pwa script -->
<!-- <script defer src="pwa.js "></script> -->


</html>