<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=5.0">
    <meta name='description' , content="PWA/'s
    are the future of applications. When ibeer dropped on the app store it became the most downloaded app on the store and was a sign that
    applications were the future of technology. 10 years have past since that was true and lots has changed
    in society. People no longer download new apps as the majority of what people want to do has been
    put in two 4-5 apps on there home screen. While app store apps installs have been dropping websites
    have been still growing. I don’t want ibeer to be lost to time so we have bought it into the world
    of 2018. This PWA can be installed onto your home screen and used offline,  " />
    <meta name='keywords' , content="PWA, Progressive Web Apps, ibeer, perfect liquid simulation, 
    tilt to drink, Drink beer on your phone" />
    <title>I want beer now - PWA</title>
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Montserrat">
    <meta name="google-site-verification" content="kVViMvfdpsMj0Vsh3L9heXE_G0FngrhFBRVUtxtwDc8" />
    <meta name="theme-color" content="#ffcc00">
    <link rel="icon" sizes="192x192" href="/images/icons/android-icon-192x192.png">
    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
    <link rel='manifest' href='/manifest.json' />
    <link rel="canonical" href="https://iwantbeer.now.sh/" />
    <link rel="preload" as="style" type="text/css" href="normalize.css" />
    <script rel="preload" src="jquery-3.3.1.min.js" as="script"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <div id='hover'>
        <h1 class='message'>If you don't have a gyro, please try a different device</h1>
        <h1 class='beta'></h1>
        <h1 class='gamma'></h1>
        <h1 class='deg'></h1>
        <h1 class='x'></h1>
        <h1 class='y'></h1>
        <h1 class='z'></h1>
    </div>
    <!-- <img src="images/beers/glass.jpg" alt="glass background image"> -->
</body>
<!-- import gyronorm.js -->
<script src="gyronorm.complete.min.js "></script>
<script src="matter.min.js"></script>
<!-- import p5.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.dom.min.js"></script>
<script src="dropplet.js"></script>
<!-- our p5 script -->
<script src="sketch.js"></script>
<!-- our gyro script -->
<script src="main.js"></script>
<!-- local storage script -->
<!-- <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script> -->
<!-- <script scr='dixie.js'></script> -->
<!-- pwa script -->
<!-- <script defer src="pwa.js "></script> -->


</html>