@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', Monospace;
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ec981a;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#beer {
    width: 300%;
    height: 300%;
    background: #888;
}

#hover {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 10;
}