@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', Monospace;
    margin: 0;
    padding: 0;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

canvas {
    display: block;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
}

/* ---- particles.js container ---- */

#particles-js {
    transform: rotate(0deg);
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    background-color: #ec981a;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#beer {
    width: 300%;
    height: 300%;
    background: #888;
}

#hover {
    padding-left: auto;
    padding-right: auto;
    position: absolute;
    z-index: 10;
}